.contactContainer {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(253 224 71);
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .contactContainer h2 {
    color: #000000;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: large;
  }
  
  .contactForm {
    display: flex;
    flex-direction: column;
  }
  
  .contactForm label {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
  }
  
  .contactForm input,
  .contactForm textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
  }
  
  .contactForm button {
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .contactForm button:hover {
    background-color: #004cff;
  }
  